@import '~/node_modules/bootstrap/scss/bootstrap.scss';
//commons
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_lg {
    width: 1440px;
    margin: auto;
}

.container_footer {
    width: 1000px;
    margin: auto;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: bold;
}

.btn_blue {
    border-radius: 0;
    background-color: $oxford-blue;
}

.btn_coral {
    font-weight: bold;
    color: white;
    font-size: 14px;
    padding: 1.25rem 2rem;
    border-radius: 35px;
    background-color: #FF4550;
    margin: 0 1.687rem;
}

.btn_coral:hover {
    background-color: $btn-hover-bg-tertiary;
    color: $white;
    transition: 0.5s ease;
}

#app {
    font-family: 'Open Sans', sans-serif;
}