//colors-palette
$ebony-clay: #292F47;
$ebonyclay: #2B2C43;
$forest-green: #2DB634;
$oxford-blue: #334453;
$azure: #375CA2;
$boston-blue: #3A78BD;
$apple: #46AF35;
$light-half-baked: #87C5D5;
$dark-half-baked: #87C6D3;
$venus: #9B8A92;
$bazaar: #A08487;
$vesuvius: #A1440D;
$bouquet: #B68995;
$husk: #B79854;
$mystic: #DDE6EB;
$amaranth: #EC4658;
$sundown: #FEAEB0;
$yellow: #FEFE02;
$coral-red: #FF4550;
$white: #FFFFFF;
//btn-hover
$btn-hover-bg-primary: #EC4658;
$btn-hover-bg-secondary: #3A78BD;
$btn-hover-bg-tertiary: #46C197;